In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# Test df
ds = pd.date_range("2023-01-01", "2024-02-01")
df = pd.DataFrame(
    {'ds': ds,
     'x1': np.random.uniform(0,100, len(ds)),
     'x2': np.random.uniform(0,100, len(ds)),
     'x3': np.random.uniform(0,100, len(ds)),
     'x4': np.random.uniform(0,100, len(ds)),
     'x5': np.random.uniform(-100,100, len(ds)),
    }
)

df

            ds         x1         x2         x3         x4         x5
0   2023-01-01  26.903049   9.118767  42.238070  70.304028  60.637434
1   2023-01-02  34.325835   4.779099  79.183727  53.270810 -56.676401
2   2023-01-03  14.510906  66.666155  42.686338  98.510825   3.295654
3   2023-01-04  15.045892  23.183407   7.970697  44.177899  26.252160
4   2023-01-05   4.248529  33.800948  76.115228  70.832114 -72.115080
..         ...        ...        ...        ...        ...        ...
392 2024-01-28  64.232044  97.042853  41.164340  49.196242  70.439144
393 2024-01-29  41.963284  73.606383  82.339682  96.676755 -98.322483
394 2024-01-30  51.497599  84.878756   8.951343   9.863938  29.593036
395 2024-01-31  39.631385   6.588039  41.298823   0.477336 -67.572602
396 2024-02-01  37.512973  68.664673  33.357606  28.876651  21.734086

[397 rows x 6 columns]

In [ ]:
def PlotTS(
  df: pd.DataFrame,
    
):